{% extends "base.html.twig" %}

{% block body %}
    <!--orders list:BEGIN-->
    <h2>Список заказов: </h2>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">C этажа</th>
            <th scope="col">На этаж</th>
            <th></th>
            <th></th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for i, order in orders %}

            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.fromStage }}</td>
                <td>{{ order.toStage }}</td>
                <td>{{ order.createdAt | date }}</td>


                <td>
                    {% if order.completedAt != null %}
                        {{ order.completedAt | date }}
                    {% endif %}
                </td>


                <td>{{ order.status }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <!--/orders list:END-->
{% endblock %}